body{
    background-color: rgb(200, 200, 200);
}
div{
    width: 40%;
    height: 200px;
    background-image: url("../media/imgs/itibb.jpg");
    background-size: contain;/*contain or cover*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 30px auto 5px;
    color: #fff;/*change color of text */
    border-radius: 20px 20px 0px 0px;
}

p{
   background-color: #e9c896;
   width: 40%;
   margin: -20px auto;
   height: 30px;
   padding: 12px 0px;
    border-top: 10px double #1f4b06;
    border-right: 5px dotted #4b3306;
    border-left: 5px dotted #4b3306;
    border-bottom: 10px solid #1f4b06;
   border-radius: 0px 0px 20px 20px;
}
